h1{
    font-family: Arial, sans-serif;
}

body{
    background-color: #F1F0EA;
}

.destaque{
    font-size: 20px;
    display: inline-block;
}

.header img{
    width: 200px;
}



.description{
    
}